<div class="content nav">
  <div class="mobile menubar"><img src="img/menu-mobile.png" onClick="toggleMenuBar();"></div>
  <a href="/"><img src="img/logo.png" class="logo"></a>
  <ul id="nav">
    <a href="page1/"><li{% if page=='page1' %} class="selected"{% endif %}>Page 1</li></a>
    <a href="page2/"><li{% if page=='page2' %} class="selected"{% endif %}>Page 2</li></a>
    <a href="page3/"><li{% if page=='page3' %} class="selected"{% endif %}>Page 3</li></a>
    <a href="page4/"><li{% if page=='page4' %} class="selected"{% endif %}>Page 4</li></a>
    <a href="account/dashboard/"><li{% if page=='account' %} class="selected"{% endif %}>My Account</li></a>
  </ul>
</div>