/application/tmp/cache/*
/application/tmp/errors/*
/application/tmp/logs/*
/application/tmp/sessions/*
/application/tmp/uploads/*
/application/config/config.php
/composer.lock
/vendor
/_docs
!.gitignore