# Necessary to prevent problems when using a controller named "index" and having a root index.php
# more here: http://httpd.apache.org/docs/2.2/content-negotiation.html
Options -MultiViews

# Activates URL rewriting (like myproject.com/controller/action/1/2/3)
RewriteEngine On

# Disallows others to look directly into /public/ folder
Options -Indexes

# Forces https connections only for www.domain.com
RewriteCond %{HTTP_HOST} ^www\.domain\.com$ [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://www.domain.com/$1 [R=301,L]

# Forces https connections only for domain.com
RewriteCond %{HTTP_HOST} ^domain\.com [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://www.domain.com/$1 [R=301,L]

# General rewrite rules
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

# If not the specified directory, rewrite to index controller
RewriteCond $1 !^(img|css|js|resources|sitemap.xml|robots.txt)
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# If within public-specified directory, rewrite to public folder
RewriteCond $1 ^(img|css|js|resources|sitemap.xml|robots.txt)
RewriteRule ^(.*)$ public/$1 [L]