html, body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #393939;
}
a {
  text-decoration: none;
  color: #FF0004;
}
a:hover {
  border-bottom: none !important;
}
h1 {
  font-size: 56px;
  font-weight: 300;
  text-align: center;
  color: #2b3847;
}
h2 {
  font-size: 21px;
}
input, select, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  padding: 5px 10px;
  border: 1px solid #CCC;
  background-color: #FFF;
  border-radius: 5px;
  width: 300px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=submit], input[type=button], .button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #FF0004;
  border: 2px solid #FF0004;
  border-radius: 5px;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  padding: 5px 20px;
  display: inline;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=submit]:hover, input[type=button]:hover, .button:hover {
  background-color: #BB0003;
  border-color: #BB0003;
}
input[type=checkbox] {
  -webkit-appearance: checkbox;
  width: auto;
}
input.error {
  border-color: #D00003;
  display: block;
}
#wrapper {
  min-height: 100%;
  width: 100%;
}
#header {
  background-color: #575757;
  width: 100%;
}
#header .content {
  color: #FFF;
}
#main {
  background-image: url(../img/bg-crossword.png);
  overflow: auto;
  padding-bottom: 300px;
  width: 100%;
}
#main .content {
  clear: both;
}
#footer {
  border-top: 1px dashed #666666;
  position: relative;
  width: 100%;
  margin-top: -300px; /* negative value of footer height */
  height: 300px;
  clear: both;
  background-color: #131313;
}
#footer .content {
  font-size: 13px;
  color: #DCDCDC;
  padding-top: 40px;
}
.content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  clear: both;
}
.content.spacer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.content.pageError {
  text-align: center;
  margin-bottom: 100px;
}
.content.pageError h1 {
  font-size: 200px;
  line-height: 0;
  font-weight: 900;
  color: #CCCCCC;
}
.content.pageError h2 {
  font-size: 36px;
}
.nav ul {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
}
.nav li {
  padding: 15px 15px;
  padding-bottom: 16px;
  margin: 0;
  list-style-type: none;
  float: left;
  color: #FFF;
  font-weight: 300;
  font-size: 18px;
  line-height: none;
}
.nav li.selected, .nav li.selected:hover {
  background-color: #FFFFFF;
  color: #000;
}
.nav li:hover {
  background-color: #969696;
}
.homepage-intro {
  background-image: url(../img/bg-grey_wash_wall.png);
}
.homepage-intro .content {
  text-align: center;
  color: #fff;
  padding: 50px 0 100px;
}
.homepage-intro h1 {
  color: #fff;
  margin-bottom: 0;
}
.homepage-end {
  background-image: url(../img/bg-singapore.jpg);
  background-repeat: repeat-x;
  background-position: center;
  color: #FFF;
  clear: both;
  text-align: center;
  padding: 50px 0;
}
.homepage-end h1 {
  color: #FFF;
  font-weight: 700;
}
.colBoxes ul, .colBoxes li {
  margin: 0;
  padding: 0;
}
.colBoxes li {
  float: left;
  list-style-type: none;
}
.colBoxes li:first-child:nth-last-child(1) {
  width: 100%;
}
.colBoxes li:first-child:nth-last-child(2), .colBoxes li:first-child:nth-last-child(2) ~ li {
  width: 50%;
}
.colBoxes li:first-child:nth-last-child(3), .colBoxes li:first-child:nth-last-child(3) ~ li {
  width: 33.3333%;
}
.colBoxes li:first-child:nth-last-child(4), .colBoxes li:first-child:nth-last-child(4) ~ li {
  width: 25%;
}
.colBoxes li .colBox {
  margin: 0 10px !important;
}
.push {
  clear: both;
}
.mobile {
  display: none;
}

/* Anything bigger than the smallest laptop screen ----------- */
@media only screen and (min-width : 1024px) {
/* STYLES GO HERE */
.content {
  width: 960px;
}
}

/* Anything smaller than laptop screen ----------- */
@media only screen and (max-width : 1024px) {
  /* STYLES GO HERE */
  .content {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .content.colBoxes {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Anything smaller than iPad ----------- */
@media only screen and (max-width : 979px) {
  /* STYLES GO HERE */
  #footer {
    height: auto;
    padding-bottom: 10px;
  }
}

/* Anything smaller than Smartphones ----------- */
@media only screen and (max-width : 640px) {
  /* STYLES GO HERE */
  .mobile {
    display: block;
  }
  input,  select,  textarea {
    width: 100%;
  }
  h1 {
    font-size: 42px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  .content {
    width: auto;
  }
  .content.nav {
    margin: 0;
  }
  .nav ul {
    display: none;
    width: 100%;
    background-color: #373737;
    position: absolute;
    right: 0;
    top: inherit;
    z-index: 99;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
  }
  .nav li {
    width: 100%;
  }
  .nav li.selected, .nav li:hover {
    border-radius: 0 !important;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menubar {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .logo {
    margin: 0 20px;
  }
  .colBoxes li {
    width: 100% !important;
  }
}

/* Anything smaller than Smartphones (portrait) ----------- */
@media only screen and (max-width : 360px) {
  /* STYLES GO HERE */
  h1 {
    font-size: 32px !important;
  }
  .colBoxes li {
    text-align: justify;
  }
}
