{% extends "_templates/base.twig" %}
{% block content %}

<div class="pageError">
  <div class="content">
    <h1>404</h1>
    <h2>Page not found</h2>
    <p>Sorry, either the page you are looking for has been moved or deleted.</p>
  </div>
</div>

{% endblock %}