{% extends "_templates/base.twig" %}
{% block content %}
<div class="content">
  <h1>This is page 4</h1>
  <p>Controller: page4.php</p>
  <p>Method: index()</p>
  <p>Views: page4.twig</p>
</div>
{% endblock %}