{% extends "_templates/base.twig" %}
{% block content %}
<div class="content">
  <h1>This is page 2</h1>
  <p>Controller: page2.php</p>
  <p>Method: index()</p>
  <p>Views: page2.twig</p>
</div>
{% endblock %}