{% extends "_templates/base.twig" %}
{% block content %}
<div class="content">
  <h1>This is page 3</h1>
  <p>Controller: page3.php</p>
  <p>Method: index()</p>
  <p>Views: page3.twig</p>
</div>
{% endblock %}