{% extends "_templates/account/base.twig" %}
{% block content %}
<div class="content">
  <h1>Dashboard</h1>
  <p>Controller: account_dashboard.php</p>
  <p>Method: index()</p>
  <p>Views: account/dashboard.twig</p>
</div>
{% endblock %}