{% extends "_templates/base.twig" %}
{% block content %}
<div class="content">
  <h1>Book Name<br>
    <strong>{{ bookData['bookName'] }}</strong></h1>
  <p>Book ID: {{ itemData['bookID'] }}</p>
  <p>URL-friendly name: {{ bookData['BookSlug'] }}</p>
</div>
{% endblock %}