{% extends "_templates/base.twig" %}
{% block content %}
<div class="homepage">
  <div class="content">
    <h1>Mosufy PHP-MVC Framework</h1>
    <p>The PHP MVC Barebone Project</p>
  </div>
</div>
{% endblock %}