{% extends "_templates/base.twig" %}
{% block content %}
<div class="homepage-intro">
  <div class="content">
    <h1>Mosufy PHP-MVC Framework</h1>
    <p>Credits to Panique for giving me the opportunity to use his PHP-MVC Framework as a base for this project.</p>
    <p>Please bear with me as I continue to add instructions to using this framework.</p>
  </div>
</div>
<div class="content spacer"></div>

<div class="content colBoxes">
  <h1>3-column example</h1>
  <ul>
    <li>
      <div class="colBox">
        <h2>Header 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nisi augue. Vestibulum ante ipsum primis in faucibus orci luctus et.</p>
      </div>
    </li>
    <li>
      <div class="colBox">
        <h2>Header 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nisi augue. Vestibulum ante ipsum primis in faucibus orci luctus et.</p>
      </div>
    </li>
    <li>
      <div class="colBox">
        <h2>Header 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nisi augue. Vestibulum ante ipsum primis in faucibus orci luctus et.</p>
      </div>
    </li>
  </ul>
</div>
<div class="content spacer"></div>

<div class="content colBoxes">
  <h1>4-column example</h1>
  <ul>
    <li>
      <div class="colBox">
        <h2>Header 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nisi augue.</p>
      </div>
    </li>
    <li>
      <div class="colBox">
        <h2>Header 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nisi augue.</p>
      </div>
    </li>
    <li>
      <div class="colBox">
        <h2>Header 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nisi augue.</p>
      </div>
    </li>
    <li>
      <div class="colBox">
        <h2>Header 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nisi augue.</p>
      </div>
    </li>
  </ul>
</div>
<div class="content spacer"></div>

<div class="homepage-end">
  <div class="content">
    <h1>Love this framework?</h1>
    <p>Let me know or make a contribution to this project at github!</p>
    <div class="push">&nbsp;</div>
    <a href="https://www.github.com/mosufy/php-mvc">
    <div class="button">Support me at github</div>
    </a>
    <div class="push">&nbsp;</div>
  </div>
</div>
{% endblock %}