{% extends "_templates/base.twig" %}
{% block content %}

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <!--img src="img/overlay-dark-50opacity.png" alt="PHP-MVC Barebone Framework"-->
      <div class="container">
        <div class="carousel-caption">
          <h1 class="title">PHP-MVC<br>
            Barebone Framework</h1>
          <p>Deploy your next web app instantly. Start with a barebone, easy to learn and implement template. Finish with a robust and complex web architecture.</p>
          <p><a class="btn btn-lg btn-primary" href="https://github.com/mosufy/php-mvc" role="button">Download on GitHub</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="img/overlay-dark-75opacity.png" alt="PHP-MVC Barebone Framework">
      <div class="container">
        <div class="carousel-caption">
          <h1>REST API &amp;<br>
            Dashboard Ready</h1>
          <p>Thinking of creating a RESTful API service? Or how about creating a software as a service with login-only pages? It's all been done on this barebone framework!</p>
          <p><a class="btn btn-lg btn-primary" href="http://www.mosufy.com/projects/" role="button">View Projects</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <!--img src="img/overlay-dark-50opacity.png" alt="PHP-MVC Barebone Framework"-->
      <div class="container">
        <div class="carousel-caption">
          <h1>nginx &amp; Apache<br>
            Compatible</h1>
          <p>Built first for the HTTP and reverse proxy server nginx, this barebone framework can easily be deployed on any of the two leading web servers.</p>
          <p><a class="btn btn-lg btn-primary" href="https://github.com/mosufy/php-mvc" role="button">Read the Docs</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="img/pin-mosufy.jpg" alt="http://mosufy.com" style="width: 140px; height: 140px;">
      <h2>mosufy</h2>
      <p>Simple personal website built on this framework. Simple tweaks allow me to integrate with the open-source WordPress for my blog.</p>
      <p><a class="btn btn-default" href="http://www.mosufy.com" role="button">View website &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="img/pin-propertyapi.jpg" alt="https://www.propertyapi.com" style="width: 140px; height: 140px;">
      <h2>PropertyAPI</h2>
      <p>SaaS that provides RESTful API for property agents to integrate listings on their own website. Dashboard allows the users to update their listings.</p>
      <p><a class="btn btn-default" href="https://www.propertyapi.com" role="button">View website &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="img/pin-maggie.jpg" alt="https://www.heymaggie.com" style="width: 140px; height: 140px;">
      <h2>Maggie</h2>
      <p>SaaS with dashboard to allow organizations to manage their time-tracking, timekeeping and billings in one central location.</p>
      <p><a class="btn btn-default" href="https://www.heymaggie.com" role="button">View website &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Model-View-Controller at its core. <span class="text-muted">Pure, simple and straight-forward.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="img/mvc.jpg" alt="Model-View-Controller diagram">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="img/vanity-url.jpg" alt="Vanity URL">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Vanity URL. <span class="text-muted">Oh yes, it's the new sexy.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Comes with Composer. <span class="text-muted">Install and update dependencies easily.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="img/composer.jpg" alt="Composer - Dependency Manager for PHP">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="img/twig.jpg" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Twig Template Engine for PHP. <span class="text-muted">Fast, Secure, Flexible.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">PHP Memcached. <span class="text-muted">Pre-installed in case you need it. You probable should.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Utilizes PHP-PDO. <span class="text-muted">Prepared Statements for secured MySQL connections.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">256-bit AES Encryption. <span class="text-muted">Pre-configured encryption library to handle sensitive data.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="img/aes-encryption.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="img/twitter-bootstrap.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Pre-loaded with Twitter Bootstrap. <span class="text-muted">Yes, this page runs on Twitter Bootstrap.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <!-- /END THE FEATURETTES -->
</div>
{% endblock %}